/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,:wght@700&family=Great+Vibes'); */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body  {
    width: 100%;
    /* padding: 20px; */
    height: 100vh;
}
p {
    color: whitesmoke;
    padding-top: 20px;
}
td{
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}


h1 {
    margin-top: 40px;
    color: whitesmoke;
    text-align: center;

}
section {
    margin: 2em;
    
}

.banner {
    background-image: url(../images/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 65%;
    height: 250px;
    text-align: center;
    padding: 0;
}

.banner h1 {
    text-transform: uppercase;
    color: #0C3633;
    padding: 100px;
    font-size: 3em;

}


/* naming sections for grid layout */
.logo {grid-area: logo;}
.navbar {grid-area: navbar;}
.side-nav {grid-area: sidenav;}
.side-bar {grid-area: sidebar;}
.main-content {grid-area: main;}
.footer {grid-area: footer;}


/* wrapper sets up grid using names created above */
/* layout 2 */
.wrapper1 {
    background-color: #3A5557;
    display: grid;
    gap: 0px;
    grid-template-columns:300px 1fr 300px;
    grid-template-rows: 150px auto auto;
    grid-template-areas:
        "logo navbar sidenav"
        "main main main"
        "footer footer footer";   
}



/* format logo */
.logo {
    text-align: left;
    padding: 20px;
    font-style: italic;
    font-size: 3.3em;
    color: whitesmoke;
    font-family: 'Great Vibes';
    padding-top: 50px;
    font-weight: 400;
    margin-left: 12px;
    
}

/* formatting the nav bar */
nav {
    padding: 50px 0px;
    text-align: center;
    align-items: center;
    
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;  
}
nav li {
    margin: 0px 20px;
    justify-content: center;
    padding: 20px 50px;
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: whitesmoke;
    
   
}
nav li:hover {
    background-color: #0C3633;
    border-radius: 5px;
}

/* formatting the side nav */


.side-nav li {
    padding: 20px;
    
}

.side-nav .item1 {
    border: none;
    border-radius: 5px;
    color: #0C3633;
}
.side-nav .item1:hover {
    
    background-color: #0C3633;

}

.side-nav .item2 {
    background-color: #0C3633;
    border-radius: 5px;
    color: #3A5557
}

.side-nav .item2:hover {
    background-color: #63000c

}


/* 
DELETE */
/* sidebar */
/* 
.side-bar {
    background-color: lightcoral;
}

.expandable {
    background-color: lavender;
    color: black;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 1em;

}



.content {
    display: none;
    overflow: hidden;
    background-color: blue;
}
 */



/*  main */

.main-content {
    
    padding: 40px;
    
}

/* sign in page */
.main-content h3 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
}



.main-button {
    background-color: #63000c;
    text-align: center;
    height: 50px;
    width: 200px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: .7em;
    border: none;
    border-radius: 5px;
    margin: 20px;
}
.main-button:hover {
    background-color: #0C3633;
    border: 2px solid #3A5557;
}

/* FORMS */
.main-content form {
    border: none;
    padding: 30px;
    background-color: #0C3633;
    border-radius: 5px;
    text-align: center;
    margin: 50px 30%;
    color: whitesmoke;
    font-size: 1.5em;

    
}

.main-content input {
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;

}


.main-content label {
    text-transform: uppercase;
    font-size: .75em;


}

#sign-in-form {

}

#sign-up-form {
   
}


/* SIGNED IN PAGE */

.message {
    margin: 30px;
    font-size: 3em;
    text-align: center;
}




/* index page  */

.header-text{
    color: whitesmoke;
    
    text-align: center;
    font-size: 65px;
    margin: 30px 100px;
}

.paragraph-text {
    color: whitesmoke;
    /* font-family: papyrus; */
    text-align: center;
    font-size: 30px ;
    padding: 0 400px;
}

#index-design {
    background-color: none;
}

#home-links{
    text-align: center;
    margin: 2em;
}
.button1 {
    display: inline-block;
    color: whitesmoke;
    background-color: #63000c;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px;
    width: 300px;
    height: 100px;
    
}

.button1:hover {
    background-color: #0C3633;
}


/* secret  santa main */





/* footer */
.footer {
    background-color: #0C3633;
    overflow: auto;
    padding: 20px;
    
}

#footer-nav {

    color: whitesmoke;


}

#float-left {
    
    float: left;
    width: 50%;
    height: 200px;
    padding-left: 30%;
    text-align: center;
}

#float-right {
    float:right;
    width: 50%;
    height: 200px;
    padding-right: 30%;
    text-align: center;
    padding-top: 20px;
}

#footer-nav li {
    list-style: none;
    justify-content: center;
    margin-top: 10px;
    
}

#footer-nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: whitesmoke;
    
}

#footer-nav a:hover {
    text-decoration: underline;
}




/*wishlist*/

tr.bought {
    text-decoration: line-through;
}