* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body  {
    width: 100%;
    padding: 20px;
    height: 100vh;
}
td{
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}

/* nav {
    width: 100%;
    height: 3em;
    background-color: lavender;
    margin-bottom: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

section {
    margin: 2em;
    
}


/* naming sections for grid layout */
.logo {grid-area: logo;}
.navbar {grid-area: navbar;}
.side-nav {grid-area: sidenav;}
.side-bar {grid-area: sidebar;}
.main-content {grid-area: main;}
.footer {grid-area: footer;}

/* wrapper sets up grid using names created above */
/* layout 1 */
.wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        "logo navbar sidenav"
        "sidebar main main"
        "footer footer footer";
    
}
/* layout 2 */
.wrapper1 {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        "logo navbar sidenav"
        "main main main"
        "footer footer footer";
    
}



/* format logo */
.logo {
    text-align: left;
    
    text-transform: uppercase;
    font-size: 2.3em;
    
}

/* formatting the nav bar */
nav {
   padding: 20px 10px;
    
    display: flex;
    justify-content: space-around;

}

nav ul {
    display: flex;
    list-style: none;
    
    
}
nav li {
    margin: 0px 20px;
    
    justify-content: center;
    padding: 20px 50px;
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
   
}
nav li:hover {
    background-color: grey;
}

/* formatting the side nav */

.side-nav {
    
}

.side-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-top: 35px;
    
}
.side-nav li {
    margin: 0px 20px;
    border: 2px solid green;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.side-nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 10px 0px;
    
}

.side-nav .item1 {
    border: none;
}
.side-nav .item1:hover {
    
    background-color: pink;

}

.side-nav .item2:hover {
    background-color: green;

}


/* sidebar */

.side-bar {
    background-color: lightcoral;
}

.expandable {
    background-color: lavender;
    color: black;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 1em;

}



.content {
    display: none;
    overflow: hidden;
    background-color: blue;
}








/*  main */

.main-content {
    background-color: grey;
    padding: 40px;
    
}

/* sign in page */
.main-content h3 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.main-content input {
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    margin: 20px;
}

.main-content form {
    border: 1px solid black;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    margin: 50px 30%;
}

/* wishlist main  */








/* secret  santa main */





/* footer */
.footer {
    background-color: darkgreen;
    text-align: center;
    padding: 20px
}